/* Fonts 
@font-face {
	font-family: "Goldoni";
	src: url("../fonts/Goldoni/Goldoni_DEMO.otf");
}
*/

/* Colours */
:root{
	--dark-blue: #027CBD;
	--light-blue: #ACDFF2;
}

/* Header */
#headerDivision {
	width: 100%;
}
header {

}

header img {
	display: block;
	float: left;
	width: 50%;
}

nav {
	float: right;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

/* Body */
#bodyDivision {
	height: 100%;
}

#leftSide {
	float: left;
	width: 39%;
	background-color: var(--dark-blue)
}

#welcome {
	float: right;
	width: 59%;
	background-color: var(--dark-blue);
}

#welcome p {
	margin-left: 5%;
	margin-right: 5%;
}

section > img {
	display: block;
	margin: auto;
}

/* Footer*/
footer {
	float: bottom;

}